.afg, .aho, .aia, .alb, .alg, 
.and, .ang, .ant, .arg, .arm, 
.aru, .asa, .aus, .aut, .aze, 
.bah, .ban, .bar, .bdi, .bel, 
.ben, .ber, .bhu, .bih, .biz, 
.blr, .bol, .bot, .bra, .brn, 
.bru, .bul, .bur, .caf, .cam, 
.can, .cay, .cgo, .cha, .chi, 
.chn, .civ, .cmr, .cod, .cok, 
.col, .com, .cpv, .crc, .cro, 
.cub, .cyp, .cze, .den, .dji, 
.dma, .dom, .ecu, .egy, .eng, 
.eri, .esa, .esp, .est, .eth, 
.fij, .fin, .fra, .fsm, .gab, 
.gam, .gbr, .gbs, .gdr, .geo, 
.geq, .ger, .gha, .gre, .grn, 
.gua, .gui, .gum, .guy, .hai, 
.hkg, .hon, .hun, .ina, .ind, 
.ioa, .ioc, .iop, .iri, .irl, 
.irq, .isl, .isr, .isv, .ita, 
.ivb, .jam, .jor, .jpn, .kaz, 
.ken, .kgz, .kir, .kor, .kos, 
.ksa, .kuw, .lao, .lat, .lba, 
.lbr, .lca, .les, .lib, .lie, 
.ltu, .lux, .mad, .mar, .mas, 
.maw, .mda, .mdv, .mex, .mgl, 
.mhl, .mkd, .mli, .mlt, .mne, 
.mon, .moz, .mri, .mtn, .mya, 
.nam, .nca, .ned, .nep, .ngr, 
.nig, .niue, .nor, .nru, .nzl, 
.oma, .pak, .pan, .par, .per, 
.phi, .ple, .plw, .png, .pol, 
.por, .prk, .pur, .qat, .rou, 
.rsa, .rus, .rwa, .sam, .sco, 
.sen, .sey, .sin, .skn, .sle, 
.slo, .smr, .sol, .som, .srb, 
.sri, .ssd, .stp, .sud, .sui, 
.sur, .svk, .swe, .swz, .syr, 
.tah, .tan, .tch, .tga, .tha, 
.tjk, .tkm, .tls, .tog, .tpe, 
.tpe-i, .tpe-u, .tri, .tto, .tun, 
.tur, .tuv, .uae, .uga, .ukr, 
.urs, .uru, .usa, .uzb, .van, 
.vat, .ven, .vie, .vin, .wal, 
.yem, .yug, .zam, .zim {
	max-width: 100%; 
	background-size: 100%; 
	background-image: url('img/flags.png');	
}
.ipa{
	max-width: 100%; 
	background-size: 100%; 
	background-image: url('img/ipa.png');
}
.fro{
	max-width: 100%; 
	background-size: 100%; 
	background-image: url('img/fro.png');
}
.mac{
	max-width: 100%; 
	background-size: 100%; 
	background-image: url('img/mac.png');
}
.afg { background-position: 0 0%; }
.aho { background-position: 0 0.44843%; }
.aia { background-position: 0 0.896861%; }
.alb { background-position: 0 1.345291%; }
.alg { background-position: 0 1.793722%; }
.and { background-position: 0 2.242152%; }
.ang { background-position: 0 2.690583%; }
.ant { background-position: 0 3.139013%; }
.arg { background-position: 0 3.587444%; }
.arm { background-position: 0 4.035874%; }
.aru { background-position: 0 4.484305%; }
.asa { background-position: 0 4.932735%; }
.aus { background-position: 0 5.381166%; }
.aut { background-position: 0 5.829596%; }
.aze { background-position: 0 6.278027%; }
.bah { background-position: 0 6.726457%; }
.ban { background-position: 0 7.174888%; }
.bar { background-position: 0 7.623318%; }
.bdi { background-position: 0 8.071749%; }
.bel { background-position: 0 8.520179%; }
.ben { background-position: 0 8.96861%; }
.ber { background-position: 0 9.41704%; }
.bhu { background-position: 0 9.865471%; }
.bih { background-position: 0 10.313901%; }
.biz { background-position: 0 10.762332%; }
.blr { background-position: 0 11.210762%; }
.bol { background-position: 0 11.659193%; }
.bot { background-position: 0 12.107623%; }
.bra { background-position: 0 12.556054%; }
.brn { background-position: 0 13.004484%; }
.bru { background-position: 0 13.452915%; }
.bul { background-position: 0 13.901345%; }
.bur { background-position: 0 14.349776%; }
.caf { background-position: 0 14.798206%; }
.cam { background-position: 0 15.246637%; }
.can { background-position: 0 15.695067%; }
.cay { background-position: 0 16.143498%; }
.cgo { background-position: 0 16.591928%; }
.cha { background-position: 0 17.040359%; }
.chi { background-position: 0 17.488789%; }
.chn { background-position: 0 17.93722%; }
.civ { background-position: 0 18.38565%; }
.cmr { background-position: 0 18.834081%; }
.cod { background-position: 0 19.282511%; }
.cok { background-position: 0 19.730942%; }
.col { background-position: 0 20.179372%; }
.com { background-position: 0 20.627803%; }
.cpv { background-position: 0 21.076233%; }
.crc { background-position: 0 21.524664%; }
.cro { background-position: 0 21.973094%; }
.cub { background-position: 0 22.421525%; }
.cyp { background-position: 0 22.869955%; }
.cze { background-position: 0 23.318386%; }
.den { background-position: 0 23.766816%; }
.dji { background-position: 0 24.215247%; }
.dma { background-position: 0 24.663677%; }
.dom { background-position: 0 25.112108%; }
.ecu { background-position: 0 25.560538%; }
.egy { background-position: 0 26.008969%; }
.eng { background-position: 0 26.457399%; }
.eri { background-position: 0 26.90583%; }
.esa { background-position: 0 27.35426%; }
.esp { background-position: 0 27.802691%; }
.est { background-position: 0 28.251121%; }
.eth { background-position: 0 28.699552%; }
.fij { background-position: 0 29.147982%; }
.fin { background-position: 0 29.596413%; }
.fra { background-position: 0 30.044843%; }
.fsm { background-position: 0 30.493274%; }
.gab { background-position: 0 30.941704%; }
.gam { background-position: 0 31.390135%; }
.gbr { background-position: 0 31.838565%; }
.gbs { background-position: 0 32.286996%; }
.gdr { background-position: 0 32.735426%; }
.geo { background-position: 0 33.183857%; }
.geq { background-position: 0 33.632287%; }
.ger { background-position: 0 34.080717%; }
.gha { background-position: 0 34.529148%; }
.gre { background-position: 0 34.977578%; }
.grn { background-position: 0 35.426009%; }
.gua { background-position: 0 35.874439%; }
.gui { background-position: 0 36.32287%; }
.gum { background-position: 0 36.7713%; }
.guy { background-position: 0 37.219731%; }
.hai { background-position: 0 37.668161%; }
.hkg { background-position: 0 38.116592%; }
.hon { background-position: 0 38.565022%; }
.hun { background-position: 0 39.013453%; }
.ina { background-position: 0 39.461883%; }
.ind { background-position: 0 39.910314%; }
.ioa { background-position: 0 40.358744%; }
.ioc { background-position: 0 40.807175%; }
.iop { background-position: 0 41.255605%; }
.iri { background-position: 0 41.704036%; }
.irl { background-position: 0 42.152466%; }
.irq { background-position: 0 42.600897%; }
.isl { background-position: 0 43.049327%; }
.isr { background-position: 0 43.497758%; }
.isv { background-position: 0 43.946188%; }
.ita { background-position: 0 44.394619%; }
.ivb { background-position: 0 44.843049%; }
.jam { background-position: 0 45.29148%; }
.jor { background-position: 0 45.73991%; }
.jpn { background-position: 0 46.188341%; }
.kaz { background-position: 0 46.636771%; }
.ken { background-position: 0 47.085202%; }
.kgz { background-position: 0 47.533632%; }
.kir { background-position: 0 47.982063%; }
.kor { background-position: 0 48.430493%; }
.kos { background-position: 0 48.878924%; }
.ksa { background-position: 0 49.327354%; }
.kuw { background-position: 0 49.775785%; }
.lao { background-position: 0 50.224215%; }
.lat { background-position: 0 50.672646%; }
.lba { background-position: 0 51.121076%; }
.lbr { background-position: 0 51.569507%; }
.lca { background-position: 0 52.017937%; }
.les { background-position: 0 52.466368%; }
.lib { background-position: 0 52.914798%; }
.lie { background-position: 0 53.363229%; }
.ltu { background-position: 0 53.811659%; }
.lux { background-position: 0 54.26009%; }
.mad { background-position: 0 54.70852%; }
.mar { background-position: 0 55.156951%; }
.mas { background-position: 0 55.605381%; }
.maw { background-position: 0 56.053812%; }
.mda { background-position: 0 56.502242%; }
.mdv { background-position: 0 56.950673%; }
.mex { background-position: 0 57.399103%; }
.mgl { background-position: 0 57.847534%; }
.mhl { background-position: 0 58.295964%; }
.mkd { background-position: 0 58.744395%; }
.mli { background-position: 0 59.192825%; }
.mlt { background-position: 0 59.641256%; }
.mne { background-position: 0 60.089686%; }
.mon { background-position: 0 60.538117%; }
.moz { background-position: 0 60.986547%; }
.mri { background-position: 0 61.434978%; }
.mtn { background-position: 0 61.883408%; }
.mya { background-position: 0 62.331839%; }
.nam { background-position: 0 62.780269%; }
.nca { background-position: 0 63.2287%; }
.ned { background-position: 0 63.67713%; }
.nep { background-position: 0 64.125561%; }
.ngr { background-position: 0 64.573991%; }
.nig { background-position: 0 65.022422%; }
.niue { background-position: 0 65.470852%; }
.nor { background-position: 0 65.919283%; }
.nru { background-position: 0 66.367713%; }
.nzl { background-position: 0 66.816143%; }
.oma { background-position: 0 67.264574%; }
.pak { background-position: 0 67.713004%; }
.pan { background-position: 0 68.161435%; }
.par { background-position: 0 68.609865%; }
.per { background-position: 0 69.058296%; }
.phi { background-position: 0 69.506726%; }
.ple { background-position: 0 69.955157%; }
.plw { background-position: 0 70.403587%; }
.png { background-position: 0 70.852018%; }
.pol { background-position: 0 71.300448%; }
.por { background-position: 0 71.748879%; }
.prk { background-position: 0 72.197309%; }
.pur { background-position: 0 72.64574%; }
.qat { background-position: 0 73.09417%; }
.rou { background-position: 0 73.542601%; }
.rsa { background-position: 0 73.991031%; }
.rus { background-position: 0 74.439462%; }
.rwa { background-position: 0 74.887892%; }
.sam { background-position: 0 75.336323%; }
.sco { background-position: 0 75.784753%; }
.sen { background-position: 0 76.233184%; }
.sey { background-position: 0 76.681614%; }
.sin { background-position: 0 77.130045%; }
.skn { background-position: 0 77.578475%; }
.sle { background-position: 0 78.026906%; }
.slo { background-position: 0 78.475336%; }
.smr { background-position: 0 78.923767%; }
.sol { background-position: 0 79.372197%; }
.som { background-position: 0 79.820628%; }
.srb { background-position: 0 80.269058%; }
.sri { background-position: 0 80.717489%; }
.ssd { background-position: 0 81.165919%; }
.stp { background-position: 0 81.61435%; }
.sud { background-position: 0 82.06278%; }
.sui { background-position: 0 82.511211%; }
.sur { background-position: 0 82.959641%; }
.svk { background-position: 0 83.408072%; }
.swe { background-position: 0 83.856502%; }
.swz { background-position: 0 84.304933%; }
.syr { background-position: 0 84.753363%; }
.tah { background-position: 0 85.201794%; }
.tan { background-position: 0 85.650224%; }
.tch { background-position: 0 86.098655%; }
.tga { background-position: 0 86.547085%; }
.tha { background-position: 0 86.995516%; }
.tjk { background-position: 0 87.443946%; }
.tkm { background-position: 0 87.892377%; }
.tls { background-position: 0 88.340807%; }
.tog { background-position: 0 88.789238%; }
.tpe { background-position: 0 89.237668%; }
.tpe-i { background-position: 0 89.686099%; }
.tpe-u { background-position: 0 90.134529%; }
.tri { background-position: 0 90.58296%; }
.tto { background-position: 0 91.03139%; }
.tun { background-position: 0 91.479821%; }
.tur { background-position: 0 91.928251%; }
.tuv { background-position: 0 92.376682%; }
.uae { background-position: 0 92.825112%; }
.uga { background-position: 0 93.273543%; }
.ukr { background-position: 0 93.721973%; }
.urs { background-position: 0 94.170404%; }
.uru { background-position: 0 94.618834%; }
.usa { background-position: 0 95.067265%; }
.uzb { background-position: 0 95.515695%; }
.van { background-position: 0 95.964126%; }
.vat { background-position: 0 96.412556%; }
.ven { background-position: 0 96.860987%; }
.vie { background-position: 0 97.309417%; }
.vin { background-position: 0 97.757848%; }
.wal { background-position: 0 98.206278%; }
.yem { background-position: 0 98.654709%; }
.yug { background-position: 0 99.103139%; }
.zam { background-position: 0 99.55157%; }
.zim { background-position: 0 100%; }