@font-face{
	font-family: "Sans Rio";
	src: url('fonts/TheSansRio2016-Regular.eot');
	src: url('fonts/TheSansRio2016-Regular.eot?#iefix') format('embedded-opentype'), 
		url('fonts/TheSansRio2016-Regular.woff') format('woff'), 
		url('fonts/TheSansRio2016-Regular.ttf') format('truetype'), 
		url('fonts/TheSansRio2016-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Mix Rio";
	src: url('fonts/TheMixRio2016-Regular.eot');
	src: url('fonts/TheMixRio2016-Regular.eot?#iefix') format('embedded-opentype'), 
		url('fonts/TheMixRio2016-Regular.woff') format('woff'), 
		url('fonts/TheMixRio2016-Regular.ttf') format('truetype'), 
		url('fonts/TheMixRio2016-Regular.svg') format('svg'); 
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Serif Rio";
	src: url('fonts/TheSerifRio2016-Regular.eot');
	src: url('fonts/TheSerifRio2016-Regular.eot?#iefix') format('embedded-opentype'), 
		url('fonts/TheSerifRio2016-Regular.woff') format('woff'), 
		url('fonts/TheSerifRio2016-Regular.ttf') format('truetype'), 
		url('fonts/TheSerifRio2016-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Rio 2016";
	src: url('fonts/Rio2016.eot');
	src: url('fonts/Rio2016.eot?#iefix') format('embedded-opentype'), 
		url('fonts/Rio2016.woff') format('woff'), 
		url('fonts/Rio2016.ttf') format('truetype'), 
		url('fonts/Rio2016.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}