/*!
 * CSS Compilado el: #{timestamp()}
 */

// =================================
// Imports
// =================================
@import "compass/css3"
@import "compass/reset"
@import "compass/typography"
@import "compass/css3/filter"

@import "init"
@import "fontAwesome"
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700,900")

// =================================
// General
// =================================
body
	background-position: 0 -60px
	+montserrat(400)
	overflow-x: hidden

a
	text-decoration: none
	color: black
	&:hover
		color: #333

h2
	font-size: 2em
	font-weight: normal
	line-height: 36px
	padding-top: 1em

	&.small
		font-size: 1.3em
		padding-bottom: $spacer
		text-transform: uppercase
		color: #666


h1
	font-size: 1.5em
	font-weight: normal
	line-height: 60px
	text-transform: uppercase

p
	font-size: 1em
	line-height: 1.5em
	margin: 1em 0 2em 0

.container
	max-width: 1000px
	margin: 0 auto

.main-section
	background: white url('/paralimpicos/img/skin-rio.jpg') no-repeat top center
	>.container
		padding: 0 $spacer
		+box-sizing(border-box)
	>.banner
		background: white
		padding: $spacer 0

.widget-main-container
	position: relative
	padding-bottom: $spacer*2 !important
	padding-top: $spacer !important
	background: #fff
	@extend %clearfix

.widget-container
	padding-right: 320px
	min-height: 1000px
	position: relative
	@extend %clearfix


.widget-sidebar
	width: 300px
	position: absolute
	padding-top: $spacer
	top: 0
	right: $spacer

	>div
		margin-top: $spacer !important
		&:first-of-type
			margin-top: 0 !important

	.box-banner
		margin: 0 auto

// =================================
// Header
// =================================
@import "top-bar"
@import "header"
@import "nav"
@import "panel-sponsor"
@import "banners"

// =================================
// Varios
// =================================
@import "content"
@import "fixes"
@import "social-buttons"
@import "flags"

// =================================
// Footer
// =================================
@import "network"
@import "footer"
@import "overlays"

// =================================
// Responsive
// =================================

// Desktop
// ----------------------------------
@media screen and (min-width: 1001px)
	header
		.logo
			display: block
			float: left
			.logo-desktop
				width: 160px
				height: auto
				padding: 15px 0 15px 15px
			.logo-mobile, .logo-tablet
				display: none
		.menu-mobile
			display: none

	.top-bar.fixed, header.fixed
		position: static !important
	
	#anchorShareButtons, #socialShare
		.btn-whatsapp
			display: none
		.btn-plus
			display: block

	#anchorShareButtons
		display: none


// Tablet Horizontal
// ----------------------------------
@media screen and (max-width: 1000px)
	.widget-main-container
		padding: $spacer $spacer $spacer*2 $spacer
	.container
		+box-sizing(border-box)
		padding: 0 $spacer
	.widget-sidebar
		right: $spacer

	header
		background: #DDD url(img/bg-header-tablet.png) top center no-repeat
		position: relative
		width: 100%
		.logo
			float: none
			width: 180px
			margin: 0 auto
			a
				display: block
			.logo-tablet
				display: block
				height: 70px
				width: auto

		.logo .logo-desktop, .logo-mobile
			display: none

		.menu-mobile
			display: none

		.banner
			float: none
			top: 0
			padding: $spacer/4 0

		.menu-mobile
			display: block
			position: absolute
			top: 0
			a
				color: white
				line-height: 70px
				padding: 0 $spacer
				font-size: 1.2em
				text-transform: uppercase
				i
					margin-right: $spacer/4

	nav
		width: 100%
		height: calc(100% - 106px)
		position: fixed !important
		top: 106px
		left: -100%
		z-index: 999999 !important
		font-size: 1em
		overflow: auto
		+single-transition(all,.3s)
		>.container
			padding: 0 !important
		ul
			padding: $spacer/2
			width: 200px
			margin: 0 auto
			li
				width: auto
				float: none
				display: block
				margin: $spacer/2 0
				a
					padding: $spacer/2 $spacer/1.5

	#anchorShareButtons, #socialShare
		.btn-whatsapp
			display: block
		.btn-plus
			display: none
	.topBar
		font-size: 10px

	#home-content,
	#videos-content
		a
			h2
				font-size: 0.8rem
				padding-bottom: 10px

@media screen and (min-width: 769px) and (max-width: 999px)
	#sports-content li
		width: 33%


// Tablet Vertical
// ----------------------------------
@media screen and (max-width: 768px)

	.main-section
		font-size: 14px

	.widget-container
		padding-right: 0px !important
		padding-left: 0px !important

	.widget-sidebar
		width: 100%
		position: static
		padding: $spacer 0

	footer
		padding: $spacer*2 $spacer/2 ($spacer*2)+50

	#agenda-content >div
		.times
			padding: 12px 0 0 60px
			width: 100%
			span
				text-align: left
		.titles
			padding: 0 0 0 60px
		.buttons
			margin-left: 54px

		&::after
			left: 40px
		&::before
			left: 31px


// Mobile
// ----------------------------------

@media screen and (max-width: 600px)
	h2
		font-size: 1.5em

	header
		background: #DDD url(img/bg-header-mobile.png) top right no-repeat
		background-position-x: 85%
		position: relative
		width: 100%
		.menu-mobile
			position: static
			a
				padding-left: 0px!important
		.logo
			float: right
			width: 110px
			margin: 0 auto
			a
				display: block
			.logo-mobile
				display: block
				height: 70px
				width: auto

		.logo .logo-desktop, .logo-tablet
			display: none !important

	.network
		.tweets i
			font-size: 30px
			width: 12px
		>a
			margin: 0 2px

	.top-bar
		.container
			padding: 0 $spacer/2 !important
		span
			font-size: 0.7em
		.nav-network a
			padding: 0 9px
		.nav-follow
			display: none
		.btn-clarosports
			span:first-of-type
				display: none
			span:last-of-type
				margin-left: 0px

	#sports-content li
		width: 33%

@media screen and (max-width: 480px)
	.main-section >.container
		padding: 0 $spacer/2

	#home-content
		a
			width: 100%
			margin: 0
			margin-bottom: $spacer/2
			padding: 70.5% 0 0 0
			h2
				font-size: 1.1rem
	#sports-content li
		width: 50%

	#medallero-content
		.short-name
			display: block
			margin-top: 5px
		.long-name
			display: none
		tr
			td
				&:nth-child(2)
					flex-direction: column

@media screen and (max-width: 320px)
	.container
		.banner
			position: relative
			left: -10px
