- location = "videos"
- home = true
- title = "Videos de los Juegos Paralímpicos Rio 2016 | Claro Sports"
- description = "Disfruta de los videos en vivo y bajo demanda más destacados de los juegos paralímpicos Rio 2016"
- keywords = "Los Mejores Videos de los Juegos Paralímpicos 2016, Videos de los Juegos Paralímpicos Rio, Juegos Paralímpicos Rio 2016, Clarosports"

include ../../jade/includes/mixines

doctype html
html
	include ../../jade/includes/head
	body
		+comscore('videos')
		+pixeles()
		include ../../jade/includes/top-bar
		include ../../jade/includes/header

		// ========================
		// Panel Sponsor
		// ========================
		+sponsored('Videos')

		// ========================
		// Seccion principal
		// ========================
		section.main-section#main-section
			.container.widget-main-container

				.container.change-day-bar.no-margin
					a#prev(href="#"): i.fa.fa-arrow-circle-o-left
					span#date
					a#next(href="#"): i.fa.fa-arrow-circle-o-right
				#videos-content

				script(src="/paralimpicos/js/videos.js#{version}")
					
				
			.banner
				.leaderboard
					+item-banner("div-lb02")

		include ../../jade/includes/footer
		
