- location = "agenda"
- title = "Agenda de los Juegos Paralímpicos Rio 2016 | Claro Sports"
- description = "Conoce la agenda deportiva de los juegos paralímpicos Río 2016 por Claro Sports."
- keywords = "Calendario Deportivo de los Juegos Paralímpicos , Agenda Deportiva de los Juegos Paralímpicos, Juegos Paralímpicos Rio 2016, Clarosports"

include ../../jade/includes/mixines

doctype html
html
	include ../../jade/includes/head
	body
		+comscore('agenda')
		+pixeles()
		include ../../jade/includes/top-bar
		include ../../jade/includes/header
		
		// ========================
		// Panel Sponsor
		// ========================
		+sponsored('Agenda')

		// ========================
		// Seccion principal
		// ========================
		section.main-section#main-section
			.container.change-day-bar
				a#prev(href="#").active: i.fa.fa-arrow-circle-o-left
				span#date
				a#next(href="#").active: i.fa.fa-arrow-circle-o-right

			.container.widget-main-container#agenda-content
				h2.advice Programación sujeta a cambio, sin previo aviso. 

			script(src="/paralimpicos/js/agenda.js#{version}") 
			.banner
				.leaderboard
					+item-banner('div-lb02')

			
		include ../../jade/includes/footer
		
		
