head
  title Miguelo's Boilerplate
  
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1')
    
  meta(name='Description' content='')
  meta(name='Keywords' content='')

  //- Styles
  link(rel='stylesheet', href='/recursos_estaticos/css/styles.css')
  
  //- Scripts
  script(src='/recursos_estaticos/js/vendor.js')
  script(src='/recursos_estaticos/js/bundle.js')

  script.
    console.log(window.jQuery)
