// ========================
// Redes
// ========================

section.network
	h2 Síguenos en Redes Sociales
	
	.tweets
		#tweetsContainer
		i#tweetPrev.fa.fa-angle-left
		i#tweetNext.fa.fa-angle-right
	
	a(target="_blank" href="https://www.facebook.com/clarosports/").fb: i.fa.fa-facebook
	a(target="_blank" href="https://twitter.com/clarosports").tw: i.fa.fa-twitter
	a(target="_blank" href="https://www.youtube.com/user/clarosports").yt: i.fa.fa-youtube-play
	a(target="_blank" href="https://www.instagram.com/clarosports/").ig: i.fa.fa-instagram

// ========================
// Footer
// ========================

footer
	p ClaroSports.com  |  Publicidad y Contenido Editorial S.A. de C.V. 
		span#anio
		| | 
		a(href="/terminos-y-condiciones-de-uso/" target="_blank") Términos y condiciones de uso

// ========================
// Anchor Banner
// ========================
.banner
	.anchor-banner
		+item-banner("div-ab01")

// ========================
// Skin
// ========================
.banner
	.skin
		+item-banner("div-skin-oop")
		
// ========================
// Interstitial
// ========================
.banner
	.interstitial
		+item-banner("div-interstitial-oop")
		
// ========================
// Native Ad
// ========================
.banner
	.native
		+item-banner("div-nativead")


