// ========================
// Header
// ========================
header
	.container
		.logo
			a(href="/paralimpicos/")
				img(src="/paralimpicos/img/logo-composite-clarosports-rio2016.png", alt="Claro sports | Rio 2016 | Cadena Oficial").logo-desktop
				img(src="/paralimpicos/img/logo-horizontal-composite-clarosports-rio2016.png", alt="Claro sports | Rio 2016 | Cadena Oficial").logo-tablet
				img(src="/paralimpicos/img/logo-angosto-composite-clarosports-rio2016.png", alt="Claro sports | Rio 2016 | Cadena Oficial").logo-mobile
		
		.menu-mobile#menu-mobile
			a(href="#")
				i.fa.fa-bars
				| Menu

		.banner
			.leaderboard
				+item-banner('div-lb01')

// ========================
// Nav
// ========================
nav
	.container
		ul
			
			li(class=(location == 'inicio' ? 'active' : '')): a(href="/paralimpicos/") Inicio
			li(class=(location == 'en-vivo' ? 'active' : '')): a(href="/paralimpicos/en-vivo/") En Vivo
			li(class=(location == 'agenda' ? 'active' : '')): a(href="/paralimpicos/agenda/") Agenda
			li(class=(location == 'deportes' ? 'active' : '')): a(href="/paralimpicos/deportes/") Deportes
			li(class=(location == 'noticias' ? 'active' : '')): a(href="/paralimpicos/noticias/") Noticias
			li(class=(location == 'videos' ? 'active' : '')): a(href="/paralimpicos/videos/") Videos
			li(class=(location == 'medallero' ? 'active' : '')): a(href="/paralimpicos/medallero/") Medallero
			
