// ========================
// Top bar
// ========================
.top-bar
	.container
		.nav-network
			a#btn-clarosports.btn-clarosports(href='http://www.clarosports.com/inicio/' target='_blank')
				span Ir a 
				span Claro Sports

		.nav-follow
			a#follow-facebook.btn-facebook(target="_blank" href="https://www.facebook.com/clarosports")
				i.fa.fa-facebook
			a#follow-twitter.btn-twitter(target="_blank" href="https://twitter.com/clarosports")
				i.fa.fa-twitter
			a#follow-youtube.btn-youtube(target="_blank" href="https://www.youtube.com/user/clarosports")
				i.fa.fa-youtube-play
			a#follow-instagram.btn-instagram(target="_blank" href="https://instagram.com/clarosports")
				i.fa.fa-instagram
			
