include _includes/_mixins

doctype html
html
  include  _includes/_generalHead
  body
    +exapleMixine("id", "titulo", "Miguelo")
    a( href="/next/" ) NEXT
    img( src="/recursos_estaticos/assets/img/example.png" )
