include ../_includes/_mixins

doctype html
html
  include  ../_includes/_generalHead
  body
    +exapleMixine("next", "titulo", "Next")
    a( href="/" ) Back
    img( src="/recursos_estaticos/assets/img/example.png" )
