- location = "deportes"
- title = "Deportes de los Juegos Paralímpicos Rio 2016 | Claro Sports"
- description = "Conoce todas las disciplinas de los juegos paralímpicos Río 2016 por Claro Sports."
- keywords = "Disciplinas Deportivas de los Paralímpicos, Deportes de los Juegos Paralímpicos Rio, Deportes Paralímpicos Rio 2016, Juegos Paralímpicos Rio 2016, Clarosports"

include ../../jade/includes/mixines

doctype html
html
	include ../../jade/includes/head
	body
		+comscore('deportes')
		+pixeles()
		include ../../jade/includes/top-bar
		include ../../jade/includes/header

		// ========================
		// Panel Sponsor
		// ========================
		+sponsored('Deportes')

		// ========================
		// Seccion principal
		// ========================
		section.main-section#main-section
			.container.widget-main-container
				.widget-container
					ul#sports-content
						li: a(href="/paralimpicos/deportes/atletismo/")
							.image: img(src="/paralimpicos/img/pictogramas/atletismo.png")
							h3 Atletismo
						li: a(href="/paralimpicos/deportes/baloncesto-en-silla-de-ruedas/")
							.image: img(src="/paralimpicos/img/pictogramas/basquetbol.png")
							h3 Baloncesto en silla de ruedas
						li: a(href="/paralimpicos/deportes/bocha/")
							.image: img(src="/paralimpicos/img/pictogramas/bocha.png")
							h3 Bocha
						li: a(href="/paralimpicos/deportes/canotaje-de-velocidad/")
							.image: img(src="/paralimpicos/img/pictogramas/canotaje.png")
							h3 Canotaje de Velocidad
						li: a(href="/paralimpicos/deportes/ciclismo-de-pista/")
							.image: img(src="/paralimpicos/img/pictogramas/ciclismo-pista.png")
							h3 Ciclismo de pista
						li: a(href="/paralimpicos/deportes/ciclismo-de-ruta/")
							.image: img(src="/paralimpicos/img/pictogramas/ciclismo-ruta.png")
							h3 Ciclismo de ruta
						li: a(href="/paralimpicos/deportes/ecuestre/")
							.image: img(src="/paralimpicos/img/pictogramas/ecuestre.png")
							h3 Ecuestre
						li: a(href="/paralimpicos/deportes/esgrima-en-silla-de-ruedas/")
							.image: img(src="/paralimpicos/img/pictogramas/esgrima.png")
							h3 Esgrima en silla de ruedas
						li: a(href="/paralimpicos/deportes/futbol-a-5/")
							.image: img(src="/paralimpicos/img/pictogramas/futbol-a5.png")
							h3 Futbol a 5
						li: a(href="/paralimpicos/deportes/futbol-a-7/")
							.image: img(src="/paralimpicos/img/pictogramas/futbol-a7.png")
							h3 Futbol a 7
						li: a(href="/paralimpicos/deportes/goalball/")
							.image: img(src="/paralimpicos/img/pictogramas/goalball.png")
							h3 Goalball
						li: a(href="/paralimpicos/deportes/judo/")
							.image: img(src="/paralimpicos/img/pictogramas/judo.png")
							h3 Judo
						li: a(href="/paralimpicos/deportes/levantamiento-de-potencia/")
							.image: img(src="/paralimpicos/img/pictogramas/levantamiento.png")
							h3 Levantamiento de potencia
						li: a(href="/paralimpicos/deportes/natacion/")
							.image: img(src="/paralimpicos/img/pictogramas/natacion.png")
							h3 Natación
						li: a(href="/paralimpicos/deportes/remo-paralimpico/")
							.image: img(src="/paralimpicos/img/pictogramas/remo.png")
							h3 Remo
						li: a(href="/paralimpicos/deportes/rugby-en-silla-de-ruedas/")
							.image: img(src="/paralimpicos/img/pictogramas/rugby.png")
							h3 Rugby en silla de ruedas
						li: a(href="/paralimpicos/deportes/tenis-de-mesa/")
							.image: img(src="/paralimpicos/img/pictogramas/tenis-mesa.png")
							h3 Tenis de mesa
						li: a(href="/paralimpicos/deportes/tenis-en-silla-de-ruedas/")
							.image: img(src="/paralimpicos/img/pictogramas/tenis.png")
							h3 Tenis en silla de ruedas
						li: a(href="/paralimpicos/deportes/tiro/")
							.image: img(src="/paralimpicos/img/pictogramas/tiro.png")
							h3 Tiro
						li: a(href="/paralimpicos/deportes/tiro-con-arco/")
							.image: img(src="/paralimpicos/img/pictogramas/arco.png")
							h3 Tiro con arco
						li: a(href="/paralimpicos/deportes/triatlon/")
							.image: img(src="/paralimpicos/img/pictogramas/triatlon.png")
							h3 Triatlón
						li: a(href="/paralimpicos/deportes/vela/")
							.image: img(src="/paralimpicos/img/pictogramas/vela.png")
							h3 Vela
						li: a(href="/paralimpicos/deportes/voleibol-sentado/")
							.image: img(src="/paralimpicos/img/pictogramas/voleibol.png")
							h3 Voleibol sentado
								
								
				.widget-sidebar
					include ../../jade/includes/sidebar

			.banner
				.leaderboard
					+item-banner("div-lb02")
				
		include ../../jade/includes/footer
